<section class="content-header">
  <h1>Séries <small>Adicionar Capítulo</small></h1>
</section>

<section class="content">

  <div class="row">
    <div class="col-md-12">
      <%= render 'article_form' %>
    </div>
  </div>

</section>