<%
  seo [
    { property: 'description', content: "#{@resource.name}. #{@resource.summary}" },
    { property: 'og:title', content: @resource.name, type: 'property' },
    { property: 'og:image', content: image_url('logos/symbol-holoteca.png'), type: 'property' },
    { property: 'og:description', content: @resource.summary, type: 'property' },
    { property: 'twitter:title', content: @resource.name },
    { property: 'twitter:description', content: @resource.summary },
    { property: 'twitter:image:src', content: image_url('logos/symbol-holoteca.png') }
  ]
  title "#{@resource.name} / Holoteca"
%>
<!-- 
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-9856374304140488"
     data-ad-slot="6813083082"></ins> -->
<script>//(adsbygoogle = window.adsbygoogle || []).push({});</script>

<a href="http://hotmart.net.br/show.html?a=e3164765C">
  <img src="http://segredosdoenem.com.br/wp-content/uploads/2014/08/banner-Segredos-do-Enem-5.png" border="0" width="728" height="90" />
</a>

<header class="archive-header">
  <br>
  <h1 class="page-title"><%= @resource.name %></h1>
  <p><%= @resource.summary %></p>
</header>

<div class='posts blog-small'>
  <% @resource.articles.visible.each do |article| %>
    <%= render partial: 'article', locals: { article: article } %>
  <% end %>
</div>

<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-9856374304140488"
     data-ad-slot="8289816284"></ins>
<script>(adsbygoogle = window.adsbygoogle || []).push({});</script>