<%
  seo [
    { property: 'description', content: '' },
    { property: 'og:title', content: 'Holoteca', type: 'property' },
    { property: 'og:url', content: url_for(only_path: true), type: 'property' },
    { property: 'og:image', content: '', type: 'property' },
    { property: 'og:description', content: '', type: 'property' }
  ]
  title 'Holoteca'
%>
<div class="posts blog-masonry">
      <div class="row masonry-container masonry" style="position: relative; height: 2510px;">             <article id="post-142" class="post-142 post type-post status-publish format-standard hentry category-travel tag-city tag-featured tag-winter col-sm-6 cat-6 masonry-brick" style="position: absolute; top: 0px; left: 0px;">

    <div class="entry-image">
        <div class="entry-category">
      <a href="http://demo.gawibowo.com/entrance/category/travel/">Travel</a>   </div>
        <a href="http://demo.gawibowo.com/entrance/2014/01/winter-night-city/"><img src="http://demo.gawibowo.com/entrance/wp-content/uploads/2014/01/tumblr_mxrv62sm2I1st5lhmo1_1280a-480x398.jpg" alt="Winter Night City" width="480" height=""><div class="overlay"><i class="fa fa-plus-circle"></i></div></a>  </div>

  <div class="entry-main">

    <h2 class="entry-title">
      <a href="http://demo.gawibowo.com/entrance/2014/01/winter-night-city/">Winter Night City</a>
    </h2>

    <div class="entry-meta">

              <span class="entry-date updated">
        <a href="http://demo.gawibowo.com/entrance/2014/01/winter-night-city/">
          <i class="fa fa-clock-o"></i>
          <time datetime="2014-01-14 08:42:53">Jan 14, 2014</time>
        </a>
      </span>
              <span class="entry-comments">
        <a href="http://demo.gawibowo.com/entrance/2014/01/winter-night-city/#comments">
          <i class="fa fa-comments-o"></i>
          0
        </a>
      </span>
          </div>

        <div class="entry-content">Ducimus, repudiandae impedit sapiente ex numquam expedita alias doloribus in incidunt sequi dignissimos odit facilis maxime aperiam aspernatur soluta nulla…</div>

      </div>

</article>              <article id="post-19" class="post-19 post type-post status-publish format-standard hentry category-photography tag-photo tag-shutter col-sm-6 cat-8 masonry-brick" style="position: absolute; top: 0px; left: 360px;">

    <div class="entry-image">
        <div class="entry-category">
      <a href="http://demo.gawibowo.com/entrance/category/photography/">Photography</a>   </div>
        <a href="http://demo.gawibowo.com/entrance/2014/01/20-breathtaking-examples-of-slow-shutter-speed-photography/"><img src="http://demo.gawibowo.com/entrance/wp-content/uploads/2014/01/tumblr_ms9mqsmgu41st5lhmo1_1280-480x319.jpg" alt="20 Breathtaking Examples of Slow Shutter Speed Photography" width="480" height=""><div class="overlay"><i class="fa fa-plus-circle"></i></div></a> </div>

  <div class="entry-main">

    <h2 class="entry-title">
      <a href="http://demo.gawibowo.com/entrance/2014/01/20-breathtaking-examples-of-slow-shutter-speed-photography/">20 Breathtaking Examples of Slow Shutter Speed Photography</a>
    </h2>

    <div class="entry-meta">

              <span class="entry-date updated">
        <a href="http://demo.gawibowo.com/entrance/2014/01/20-breathtaking-examples-of-slow-shutter-speed-photography/">
          <i class="fa fa-clock-o"></i>
          <time datetime="2014-01-10 18:36:04">Jan 10, 2014</time>
        </a>
      </span>
              <span class="entry-comments">
        <a href="http://demo.gawibowo.com/entrance/2014/01/20-breathtaking-examples-of-slow-shutter-speed-photography/#comments">
          <i class="fa fa-comments-o"></i>
          0
        </a>
      </span>
          </div>

        <div class="entry-content">Nunc lobortis sollicitudin nulla, non semper lectus eleifend sed. Nunc lobortis sollicitudin nulla, non semper lectus eleifend sed. Phasellus congue…</div>

      </div>

</article>              <article id="post-140" class="post-140 post type-post status-publish format-standard hentry category-health-fitness tag-dream tag-health tag-road col-sm-6 cat-4 masonry-brick" style="position: absolute; top: 407px; left: 360px;">

    <div class="entry-image">
        <div class="entry-category">
      <a href="http://demo.gawibowo.com/entrance/category/health-fitness/">Health &amp; Fitness</a>   </div>
        <a href="http://demo.gawibowo.com/entrance/2014/01/on-the-road-to-dreams/"><img src="http://demo.gawibowo.com/entrance/wp-content/uploads/2013/12/tumblr_mxrv9j9zmc1st5lhmo1_1280-480x405.jpg" alt="On the Road to Dreams" width="480" height=""><div class="overlay"><i class="fa fa-plus-circle"></i></div></a> </div>

  <div class="entry-main">

    <h2 class="entry-title">
      <a href="http://demo.gawibowo.com/entrance/2014/01/on-the-road-to-dreams/">On the Road to Dreams</a>
    </h2>

    <div class="entry-meta">

              <span class="entry-date updated">
        <a href="http://demo.gawibowo.com/entrance/2014/01/on-the-road-to-dreams/">
          <i class="fa fa-clock-o"></i>
          <time datetime="2014-01-01 08:39:04">Jan 1, 2014</time>
        </a>
      </span>
              <span class="entry-comments">
        <a href="http://demo.gawibowo.com/entrance/2014/01/on-the-road-to-dreams/#comments">
          <i class="fa fa-comments-o"></i>
          0
        </a>
      </span>
          </div>

        <div class="entry-content">Fugit in perferendis reiciendis esse ipsa placeat similique mollitia sit! Ipsa, aspernatur, tempora, placeat eveniet fuga mollitia debitis qui voluptas…</div>

      </div>

</article>              <article id="post-195" class="post-195 post type-post status-publish format-standard hentry category-photography tag-camera tag-lens col-sm-6 cat-8 masonry-brick" style="position: absolute; top: 435px; left: 0px;">

    <div class="entry-image">
        <div class="entry-category">
      <a href="http://demo.gawibowo.com/entrance/category/photography/">Photography</a>   </div>
        <a href="http://demo.gawibowo.com/entrance/2014/01/tips-to-help-you-choose-a-new-camera-lens/"><img src="http://demo.gawibowo.com/entrance/wp-content/uploads/2014/01/picjumbo.com_IMG_04091-480x528.jpg" alt="Tips to Help You Choose a New Camera Lens" width="480" height=""><div class="overlay"><i class="fa fa-plus-circle"></i></div></a>  </div>

  <div class="entry-main">

    <h2 class="entry-title">
      <a href="http://demo.gawibowo.com/entrance/2014/01/tips-to-help-you-choose-a-new-camera-lens/">Tips to Help You Choose a New Camera Lens</a>
    </h2>

    <div class="entry-meta">

              <span class="entry-date updated">
        <a href="http://demo.gawibowo.com/entrance/2014/01/tips-to-help-you-choose-a-new-camera-lens/">
          <i class="fa fa-clock-o"></i>
          <time datetime="2014-01-01 00:06:50">Jan 1, 2014</time>
        </a>
      </span>
              <span class="entry-comments">
        <a href="http://demo.gawibowo.com/entrance/2014/01/tips-to-help-you-choose-a-new-camera-lens/#comments">
          <i class="fa fa-comments-o"></i>
          0
        </a>
      </span>
          </div>

        <div class="entry-content">Quos, amet, odio distinctio veniam nostrum laboriosam illum sequi officia et! Deserunt, quasi, reprehenderit, debitis, distinctio quia officia quisquam provident…</div>

      </div>

</article>              <article id="post-271" class="post-271 post type-post status-publish format-standard hentry category-science-technology tag-featured tag-road col-sm-6 cat-7 masonry-brick" style="position: absolute; top: 847px; left: 360px;">

    <div class="entry-image">
        <div class="entry-category">
      <a href="http://demo.gawibowo.com/entrance/category/science-technology/">Science &amp; Technology</a>   </div>
        <a href="http://demo.gawibowo.com/entrance/2013/12/the-road-goes-ever-on/"><img src="http://demo.gawibowo.com/entrance/wp-content/uploads/2014/02/tumblr_mzzqzbLVlr1st5lhmo1_1280-480x320.jpg" alt="The Road Goes Ever On" width="480" height=""><div class="overlay"><i class="fa fa-plus-circle"></i></div></a> </div>

  <div class="entry-main">

    <h2 class="entry-title">
      <a href="http://demo.gawibowo.com/entrance/2013/12/the-road-goes-ever-on/">The Road Goes Ever On</a>
    </h2>

    <div class="entry-meta">

              <span class="entry-date updated">
        <a href="http://demo.gawibowo.com/entrance/2013/12/the-road-goes-ever-on/">
          <i class="fa fa-clock-o"></i>
          <time datetime="2013-12-31 23:06:20">Dec 31, 2013</time>
        </a>
      </span>
              <span class="entry-comments">
        <a href="http://demo.gawibowo.com/entrance/2013/12/the-road-goes-ever-on/#comments">
          <i class="fa fa-comments-o"></i>
          0
        </a>
      </span>
          </div>

        <div class="entry-content">Quis, cupiditate, eum impedit eaque architecto nulla sunt quo at quibusdam consectetur? In, libero, unde mollitia voluptates reiciendis corporis animi…</div>

      </div>

</article>              <article id="post-269" class="post-269 post type-post status-publish format-standard hentry category-science-technology tag-city tag-cold tag-lights col-sm-6 cat-7 masonry-brick" style="position: absolute; top: 1003px; left: 0px;">

    <div class="entry-image">
        <div class="entry-category">
      <a href="http://demo.gawibowo.com/entrance/category/science-technology/">Science &amp; Technology</a>   </div>
        <a href="http://demo.gawibowo.com/entrance/2013/12/cold-city-lights/"><img src="http://demo.gawibowo.com/entrance/wp-content/uploads/2013/12/tumblr_mzgzcdEDTL1st5lhmo1_800-480x479.jpg" alt="Cold City Lights" width="480" height=""><div class="overlay"><i class="fa fa-plus-circle"></i></div></a>  </div>

  <div class="entry-main">

    <h2 class="entry-title">
      <a href="http://demo.gawibowo.com/entrance/2013/12/cold-city-lights/">Cold City Lights</a>
    </h2>

    <div class="entry-meta">

              <span class="entry-date updated">
        <a href="http://demo.gawibowo.com/entrance/2013/12/cold-city-lights/">
          <i class="fa fa-clock-o"></i>
          <time datetime="2013-12-30 23:02:00">Dec 30, 2013</time>
        </a>
      </span>
              <span class="entry-comments">
        <a href="http://demo.gawibowo.com/entrance/2013/12/cold-city-lights/#comments">
          <i class="fa fa-comments-o"></i>
          0
        </a>
      </span>
          </div>

        <div class="entry-content">Dolorum, totam, quis at debitis id iusto repudiandae facilis ut harum magni quae libero incidunt ab reiciendis cupiditate ipsum tempore…</div>

      </div>

</article>              <article id="post-30" class="post-30 post type-post status-publish format-standard hentry category-science-technology tag-nature col-sm-6 cat-7 masonry-brick" style="position: absolute; top: 1230px; left: 360px;">

    <div class="entry-image">
        <div class="entry-category">
      <a href="http://demo.gawibowo.com/entrance/category/science-technology/">Science &amp; Technology</a>   </div>
        <a href="http://demo.gawibowo.com/entrance/2013/12/the-scope-of-humankinds-relationship-with-nature/"><img src="http://demo.gawibowo.com/entrance/wp-content/uploads/2013/11/tumblr_ms9n3sPUm21st5lhmo1_1280-480x270.jpg" alt="The scope of humankind’s relationship with nature" width="480" height=""><div class="overlay"><i class="fa fa-plus-circle"></i></div></a>  </div>

  <div class="entry-main">

    <h2 class="entry-title">
      <a href="http://demo.gawibowo.com/entrance/2013/12/the-scope-of-humankinds-relationship-with-nature/">The scope of humankind’s relationship with nature</a>
    </h2>

    <div class="entry-meta">

              <span class="entry-date updated">
        <a href="http://demo.gawibowo.com/entrance/2013/12/the-scope-of-humankinds-relationship-with-nature/">
          <i class="fa fa-clock-o"></i>
          <time datetime="2013-12-30 12:18:44">Dec 30, 2013</time>
        </a>
      </span>
              <span class="entry-comments">
        <a href="http://demo.gawibowo.com/entrance/2013/12/the-scope-of-humankinds-relationship-with-nature/#comments">
          <i class="fa fa-comments-o"></i>
          0
        </a>
      </span>
          </div>

        <div class="entry-content">Ut non erat dui. Praesent ac ipsum at ipsum consectetur ornare vitae quis nisi. Proin et ultricies dolor. Aliquam non…</div>

      </div>

</article>              <article id="post-207" class="post-207 post type-post status-publish format-standard hentry category-web-design tag-designer tag-firefox col-sm-6 cat-2 masonry-brick" style="position: absolute; top: 1492px; left: 0px;">

    <div class="entry-image">
        <div class="entry-category">
      <a href="http://demo.gawibowo.com/entrance/category/web-design/">Web Design</a>   </div>
        <a href="http://demo.gawibowo.com/entrance/2013/12/top-25-firefox-extensions-for-web-designers/"><img src="http://demo.gawibowo.com/entrance/wp-content/uploads/2014/01/tumblr_mtw7mhZsCe1st5lhmo1_1280-480x423.jpg" alt="Top 25 Firefox Extensions for Web Designers" width="480" height=""><div class="overlay"><i class="fa fa-plus-circle"></i></div></a> </div>

  <div class="entry-main">

    <h2 class="entry-title">
      <a href="http://demo.gawibowo.com/entrance/2013/12/top-25-firefox-extensions-for-web-designers/">Top 25 Firefox Extensions for Web Designers</a>
    </h2>

    <div class="entry-meta">

              <span class="entry-date updated">
        <a href="http://demo.gawibowo.com/entrance/2013/12/top-25-firefox-extensions-for-web-designers/">
          <i class="fa fa-clock-o"></i>
          <time datetime="2013-12-25 01:45:44">Dec 25, 2013</time>
        </a>
      </span>
              <span class="entry-comments">
        <a href="http://demo.gawibowo.com/entrance/2013/12/top-25-firefox-extensions-for-web-designers/#comments">
          <i class="fa fa-comments-o"></i>
          0
        </a>
      </span>
          </div>

        <div class="entry-content">Cupiditate, quia, asperiores, eveniet officiis maiores vel temporibus aperiam eum nobis nam pariatur iusto debitis quis veniam modi odio ad…</div>

      </div>

</article>              <article id="post-16" class="post-16 post type-post status-publish format-standard hentry category-photography tag-dslr tag-photo col-sm-6 cat-8 masonry-brick" style="position: absolute; top: 1604px; left: 360px;">

    <div class="entry-image">
        <div class="entry-category">
      <a href="http://demo.gawibowo.com/entrance/category/photography/">Photography</a>   </div>
        <a href="http://demo.gawibowo.com/entrance/2013/12/dslr-photography-guide-for-beginners/"><img src="http://demo.gawibowo.com/entrance/wp-content/uploads/2013/11/tumblr_ms9n0ted0Z1st5lhmo1_1280-480x319.jpg" alt="DSLR Photography Guide For Beginners" width="480" height=""><div class="overlay"><i class="fa fa-plus-circle"></i></div></a> </div>

  <div class="entry-main">

    <h2 class="entry-title">
      <a href="http://demo.gawibowo.com/entrance/2013/12/dslr-photography-guide-for-beginners/">DSLR Photography Guide For Beginners</a>
    </h2>

    <div class="entry-meta">

              <span class="entry-date updated">
        <a href="http://demo.gawibowo.com/entrance/2013/12/dslr-photography-guide-for-beginners/">
          <i class="fa fa-clock-o"></i>
          <time datetime="2013-12-22 07:47:15">Dec 22, 2013</time>
        </a>
      </span>
              <span class="entry-comments">
        <a href="http://demo.gawibowo.com/entrance/2013/12/dslr-photography-guide-for-beginners/#comments">
          <i class="fa fa-comments-o"></i>
          0
        </a>
      </span>
          </div>

        <div class="entry-content">Nulla iaculis lacus in ligula sollicitudin tincidunt. Nunc lobortis sollicitudin nulla, non semper lectus eleifend sed. Phasellus congue aliquam sem,…</div>

      </div>

</article>              <article id="post-6" class="post-6 post type-post status-publish format-standard hentry category-arts-games tag-mario tag-nintendo tag-wii col-sm-6 cat-3 masonry-brick" style="position: absolute; top: 1968px; left: 0px;">

    <div class="entry-image">
        <div class="entry-category">
      <a href="http://demo.gawibowo.com/entrance/category/arts-games/">Arts &amp; Games</a>   </div>
        <a href="http://demo.gawibowo.com/entrance/2013/12/new-super-mario-wii-review/"><img src="http://demo.gawibowo.com/entrance/wp-content/uploads/2013/11/tumblr_ms9mpnB2o61st5lhmo1_1280-480x528.jpg" alt="New Super Mario Wii Review" width="480" height=""><div class="overlay"><i class="fa fa-plus-circle"></i></div></a> </div>

  <div class="entry-main">

    <h2 class="entry-title">
      <a href="http://demo.gawibowo.com/entrance/2013/12/new-super-mario-wii-review/">New Super Mario Wii Review</a>
    </h2>

    <div class="entry-meta">
            <div class="rating"><div class="rating" title="4.67"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i></div></div>

              <span class="entry-date updated">
        <a href="http://demo.gawibowo.com/entrance/2013/12/new-super-mario-wii-review/">
          <i class="fa fa-clock-o"></i>
          <time datetime="2013-12-21 16:54:27">Dec 21, 2013</time>
        </a>
      </span>
              <span class="entry-comments">
        <a href="http://demo.gawibowo.com/entrance/2013/12/new-super-mario-wii-review/#comments">
          <i class="fa fa-comments-o"></i>
          1
        </a>
      </span>
          </div>

        <div class="entry-content">Nunc metus quam, volutpat ut vestibulum vel, rhoncus et purus. Quisque interdum, metus ut posuere aliquet, elit arcu lacinia ipsum,…</div>

      </div>

</article>            </div>          </div>