<section class="content-header">
  <h1>Artigos <small>Novo Artigo</small></h1>
</section>

<section class="content">

  <div class="row">
    <div class="col-md-12">
      <%= render 'form' %>
    </div>
  </div>

</section>