<div id="footer-area">
  <div id="footer-widget">
    <div class="container">
      <div class="row">
        <div class="col-md-4">

        <div id="text-2" class="widget widget_text">
          <div class="textwidget">
            <p><%= image_tag 'logos/logo-white-blank-holoteca.png', size: 30, alt: 'Holoteca' %></p>
            <p>Praesent ac ipsum at ipsum consectetur ornare vitae quis nisi. Proin et ultricies dolor aliquam non quisque interdum, metus ut posuere aliquet, elit arcu lacinia ipsum.</p>
            <p>Dignissimos, nemo, exercitationem, eius, soluta animi esse ducimus voluptate molestias voluptatum veniam laudantium ex accusamus magni modi sapiente temporibus cupiditate ratione asperiores.</p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
        </div>
        <div class="col-md-4">
        </div>
      </div>
    </div>
  </div>

  <footer id="bottom">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 footer1">Copyright © 2014 Holoteca.</div>
        <div class="col-sm-6 footer2"></div>
      </div>
    </div>
  </footer>
</div>