<% cache 'feet' do %>
<div id="footer-area">
  <div id="footer-widget">
    <div class="container">
      <div class="row">

        <div class="col-md-4">
          <div class="widget widget_text">
            <div class="textwidget">
              <p><%= link_to image_tag('logos/logo-white-blank-holoteca-fs8.png', size: 30, alt: 'Holoteca'), root_path, title: 'Holoteca' %></p>
              <p>
                <b>holo-</b> | <i>pref.</i> do grego: significa inteiro, todo.<br />
                <b>-teca</b> |é| <i>suf.</i> do latim: coleção ou local de armazenamento.
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <ul class='links'>
            <li>
              <!-- <p>Aqui falamos sobre tudo um pouco. Atualidades, opiniões, experiências, notícias em uma grande coleção.</p> -->
            </li>
          </ul>
        </div>

        <div class="col-md-4">
          <ul class='links'>
            <li><%= link_to 'Início', root_path, title: 'Página Inicial do Holoteca' %></li>
            <li><%= link_to 'Política de Privacidade', privacy_path, title: 'Política de Privacidade' %></li>
            <li><a href="mailto:contato@holoteca.com.br">Contato</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <footer id="bottom">
    <div class="container">
      <div class="row">
        <div class="col-sm-3 footer1">

          <div class="widget widget_g7_social">
            <ul class="horizontal circle">
              <li class="social-facebook">
                <a href="http://facebook.com/holoteca" title="Holoteca Fan Page">
                  <span class="social-box"><i class="fa fa-facebook"></i></span>
                </a>
              </li>

              <li class="social-google">
                <a href="https://plus.google.com/u/0/b/104599330917809356324/104599330917809356324/posts" title="Holoteca no Google Plus">
                  <span class="social-box"><i class="fa fa-google-plus"></i></span>
                </a>
              </li>

              <li class="social-instagram">
                <a href="http://instagram.com/holoteca" title="Holoteca no Instagram">
                  <span class="social-box"><i class="fa fa-instagram"></i></span>
                </a>
              </li>

              <li class="social-twitter">
                <a href="http://twitter.com/holoteca" title="Holoteca no Twitter">
                  <span class="social-box"><i class="fa fa-twitter"></i></span>
                </a>
              </li>
            </ul>
            <div class="clear"></div>
          </div>
        </div>

        <div class="col-sm-9 footer2">
          <a href="http://wip.codes" title='wipcodes' class='pull-right wipcodes'>
            <%= image_tag('logos/wipcodes.png', alt: 'wipcodes') %></a>
          <span class='pull-right'>Copyright © 2014 Holoteca.</span>
        </div>
      </div>
    </div>
  </footer>
</div>
<% end %>