<ul id="mainmenu">
  <li class="menu-item current-menu-item">
    <%= link_to 'Início', root_path, class: 'parent' %>
  </li>

  <% @categories.each do |category| %>
    <li class="menu-item">
      <%= link_to category.name, '#' %>
    </li>
  <% end %>
</ul>

