<div data-remodal-id="modal-social" role="dialog">
<button data-remodal-action="close" class="remodal-close"></button>
  <div class="col-sm-6">
    <h4><%= image_tag 'facebook-like.png', size: '24x24' %><br />
    <b>Além de artigos memoráveis, também colecionamos likes</b> </h2>
    <p>Curta nossa <u><a href="https://www.facebook.com/HolotecaHQ">página no Facebook</a></u> e receba nossos artigos na sua linha do tempo.</p>
  </div>
  <div class="col-sm-6">
    <div class="fb-like-box" data-href="https://www.facebook.com/HolotecaHQ" data-width="290" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
  </div>
  <br>
</div>
