<div id="sidebar" class="rs col-md-4">
  <ul>
    <!--  TODO: search
    <li id="search-6" class="widget widget_search">
      <form action="http://demo.gawibowo.com/entrance/" class="searchform" method="get" role="search">
        <div class="clearfix">
          <input type="text" class="s" name="s" placeholder="Search...">
          <button type="submit" class="searchsubmit"><i class="fa fa-search"></i></button>
        </div>
      </form>
    </li>
    -->
    <li id="g7_posts-12" class="widget widget_g7_posts">
      <h2 class="widgettitle"><span>Você também vai querer saber...</span></h2>
      <ul>
        <% @articles.each do |article| %>
        <li class="cat-7">

          <div class="block-side">
            <%= link_to article_path(article), title: article.title do %>
              <%= image_tag cover(article.cover_url), size: '70x70', alt: article.title %>
              <div class="overlay"><i class="fa fa-plus-circle"></i></div>
            <% end %>
          </div>

          <div class="block-content">
            <div class="block-category">
              <% if article.category %><%= link_to article.category.name, category_path(article.category) %><% end %>
            </div>
            <h4 class="block-heading">
              <%= link_to article.title, article_path(article), title: article.title %>
            </h4>
            <div class="clear"></div>
          </div>

        </li>
        <% end %>
      </ul>

    </li>
  </ul>
</div>