<div id="sidebar" class="rs col-md-4">
  <ul>
    <!--  TODO: search
    <li id="search-6" class="widget widget_search">
      <form action="http://demo.gawibowo.com/entrance/" class="searchform" method="get" role="search">
        <div class="clearfix">
          <input type="text" class="s" name="s" placeholder="Search...">
          <button type="submit" class="searchsubmit"><i class="fa fa-search"></i></button>
        </div>
      </form>
    </li>
    -->
    <li id="g7_posts-12" class="widget widget_g7_posts">
      <h2 class="widgettitle"><span>Você também vai querer saber...</span></h2>
      <ul>
        <li class="cat-7">

          <div class="block-side">
            <a href="#">
              <img src="http://demo.gawibowo.com/entrance/wp-content/uploads/2013/12/tumblr_mxrva40Plz1st5lhmo1_1280-70x70.jpg" alt="Do Cell Phones Cause Cancer?" width="70" height="70">
              <div class="overlay"><i class="fa fa-plus-circle"></i></div>
            </a>
          </div>

          <div class="block-content">
            <div class="block-category">
              <a href="#">Science &amp; Technology</a>
            </div>
            <h4 class="block-heading">
              <a href="#">Do Cell Phones Cause Cancer?</a>
            </h4>
            <div class="block-meta">
              <span class="entry-date updated">
                <a href="#">
                  <i class="fa fa-clock-o"></i>
                  <time datetime="2013-12-21 08:35:58">Dec 21, 2013</time>
                </a>
              </span>
            </div>
            <div class="clear"></div>
          </div>

        </li>

        <li class="cat-8">

          <div class="block-side">
            <a href="#" rel="prettyPhoto">
              <img src="http://demo.gawibowo.com/entrance/wp-content/uploads/2013/11/tumblr_mrragzKOHm1st5lhmo1_1280-70x70.jpg" alt="HDR Photography Done Right" width="70" height="70">
              <div class="overlay"><i class="fa fa-picture-o"></i></div>
            </a>
          </div>

          <div class="block-content">
            <div class="block-category">
              <a href="#">Photography</a>
            </div>
            <h4 class="block-heading">
              <a href="#">HDR Photography Done Right</a>
            </h4>
            <div class="block-meta">
              <span class="entry-date updated">
                <a href="http://demo.gawibowo.com/entrance/2013/10/hdr-photography-done-right/">
                  <i class="fa fa-clock-o"></i>
                  <time datetime="2013-10-30 12:18:44">Oct 30, 2013</time>
                </a>
              </span>
            <div class="clear"></div>
          </div>
        </li>

      </ul>
    </li>


  </ul>
</div>