<%
  seo [
    { property: 'description', content: 'Política de Privacidade - O Holoteca possui artigos dos mais diversos. Aqui falamos sobre tudo um pouco. Atualidades, opiniões, experiências em uma grande coleção.' },
    { property: 'og:title', content: 'Política de Privacidade / Holoteca', type: 'property' },
    { property: 'og:image', content: image_url('logos/logo-square-holoteca.png'), type: 'property' },
    { property: 'og:description', content: 'Política de Privacidade - O Holoteca possui artigos dos mais diversos. Aqui falamos sobre tudo um pouco. Atualidades, opiniões, experiências em uma grande coleção.', type: 'property' }
  ]
  title "Política de Privacidade / Holoteca"
%>

<article class='page'>
  <header class="archive-header">
    <h1 class="page-title">Políticas de Privacidade</h1>
  </header>

  <% cache 'privacy' do %>
  <div class='posts'>
    <p>A política de privacidade da Holoteca esclarece o nosso compromisso com a segurança da informação na internet, de como lidamos com os dados dos cliente.</p>

    <h4>Email Marketing</h4>

    <p>O envio de E-mail Marketing parte do consentimento do cliente, quando ele opta por receber através de uma inscrição, de maneira não-intrusiva.</p>

    <p>Os e-mails enviados pela Holoteca possuem o link com a opção de descadastramento do e-mail para receber futuras mensagens, desse modo é respeitada integralmente a privacidade e liberdade de quem recebe a mensagem.</p>

    <p>Esses dados nunca serão veiculados ou comercializados sem a autorização do cliente.</p>

    <h4>Reprodução</h4>

    <p>A reprodução de qualquer parte do conteúdo Holoteca somente será permitida após autorização por escrito, com finalidade de transferência de conhecimento. O conteúdo, as opiniões e as informações abordadas nos artigos são de responsabilidade de cada autor.</p>

    <p>No entanto, é permitido a criação de links diretamente a artigos e canais do site.</p>

    <h4>Publicidade</h4>

    <p>Utilizamos o serviço do Google Adsense para veiculação de anúncios nas páginas da Holoteca e não nos responsabilizamos por conteúdo, produtos e serviços oferecidos pelos anunciantes.</p>
  </div>
  <% end %>

</article>