.bg-viagens
  background-color: #3c8dbc !important
.ion-viagens
  &:before
    content: "\f2df"

.bg-entreternimento
  background-color: #00a65a !important
.ion-entreternimento
  &:before
    content: "\f256"

.bg-tecnologia
  background-color: #3d9970 !important
.ion-tecnologia
  &:before
    content: "\f13c"