<%
  seo [
    { property: 'description', content: "O Holoteca é uma revista sobre diversos assuntos." },
    { property: 'og:title', content: "O Holoteca é uma revista sobre diversos assuntos.", type: 'property' },
    { property: 'og:image', content: image_url('logos/logo-square-holoteca.png'), type: 'property' },
    { property: 'og:description', content: "O Holoteca é uma revista sobre diversos assuntos.", type: 'property' }
  ]
  title "Não Encontrado / Holoteca"
%>

<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-9856374304140488"
     data-ad-slot="6813083082"></ins>
<script>(adsbygoogle = window.adsbygoogle || []).push({});</script><br>

<header class="archive-header">
  <h1 class="page-title">Não Encontrado!</h1>
</header>

<div class='posts blog-small'>
  <article class="post">
    <div class="entry-main">

      <h2 class="entry-title">
        A página que você está procurando não existe. Continue navegando!
      </h2>
    </div>
  </article>
</div>

<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-9856374304140488"
     data-ad-slot="8289816284"></ins>
<script>(adsbygoogle = window.adsbygoogle || []).push({});</script>