/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require font-faces
 *= require layout/bootstrap
 *= require admin/font-awesome
 *= require layout/flexslider
 *= require layout/prettyPhoto
 *= require layout/style
 *= require layout/color
 *= require layout/remodal
 *= require layout/remodal-default-theme
 *
 *= require components/subscribe
 *= require components/fixed_bar
 *= require components/remodal
 */

#mainnav.fix { 
  position: fixed; 
  top: 0; 
  background-color: #C51010;
  color: #fff;
  transition: all 0.4s ease 0s; }

#mainnav.fix a { color: #fff; }

.no-gutter { padding: 0; }

@media (max-width: 479px) {
  #top { margin-top: 0 !important }
  main { margin-top: 0 !important; }
  .featured { padding: 0 !important; }
  .featured img { 
    min-height: 240px !important;
    max-height: 240px !important;
    height: 240px !important;
  }
  #footer-area ul.links { margin: 0 0 30px !important; padding: 0; }
}

@media (max-width: 991px) {
  .no-gutter {
    padding: 0 15px
  }
}